.container-card {
  display: flex;
  flex-direction: row;
  height: 12rem;
  width: 24rem;
  justify-content: space-around;
}

.containt-card {
  height: 200px;
  width: 100px;
  background-color: var(--blue-2);
  cursor: pointer;
}

.containt-card:hover {
  background-color: blueviolet;
}
