.header-container {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid var(--blue-1);
}

.name-container {
  display: flex;
  align-items: center;
}

#menu {
  height: 2rem;
}
